:root {
	--jet-black: #181818;
	--charcoal-gray: #323232;
	--medium-gray: #4b4b4b;
	--slate-gray: #656565;
	--light-gray: #e6e6e6;
}

/* In your CSS file */
.logo-text {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
}

/* Charcoal Gray */
.bg-charcoal-gray {
	background-color: var(--charcoal-gray);
}

.text-charcoal-gray {
	color: var(--charcoal-gray);
}

.border-charcoal-gray {
	border-color: var(--charcoal-gray);
}

.shadow-charcoal-gray {
	box-shadow: 0 4px 6px -1px var(--charcoal-gray),
		0 2px 4px -2px var(--charcoal-gray);
}

.hover\:bg-charcoal-gray:hover {
	background-color: var(--charcoal-gray);
}

.hover\:text-charcoal-gray:hover {
	color: var(--charcoal-gray);
}

/* Medium Gray */
.bg-medium-gray {
	background-color: var(--medium-gray);
}

.text-medium-gray {
	color: var(--medium-gray);
}

.border-medium-gray {
	border-color: var(--medium-gray);
}

.shadow-medium-gray {
	box-shadow: 0 4px 6px -1px var(--medium-gray),
		0 2px 4px -2px var(--medium-gray);
}

.hover\:bg-medium-gray:hover {
	background-color: var(--medium-gray);
}

.hover\:text-medium-gray:hover {
	color: var(--medium-gray);
}

/* Jet Black */
.bg-jet-black {
	background-color: var(--jet-black);
}

.text-jet-black {
	color: var(--jet-black);
}

.border-jet-black {
	border-color: var(--jet-black);
}

.shadow-jet-black {
	box-shadow: 0 4px 6px -1px var(--jet-black),
		0 2px 4px -2px var(--jet-black);
}

.hover\:bg-jet-black:hover {
	background-color: var(--jet-black);
}

.hover\:text-jet-black:hover {
	color: var(--jet-black);
}

/* Light Gray */
.bg-light-gray {
	background-color: var(--light-gray);
}

.text-light-gray {
	color: var(--light-gray);
}

.border-light-gray {
	border-color: var(--light-gray);
}

.shadow-light-gray {
	box-shadow: 0 4px 6px -1px var(--light-gray),
		0 2px 4px -2px var(--light-gray);
}

.hover\:bg-light-gray:hover {
	background-color: var(--light-gray);
}

.hover\:text-light-gray:hover {
	color: var(--light-gray);
}

/* Slate Gray */
.bg-slate-gray {
	background-color: var(--slate-gray);
}

.text-slate-gray {
	color: var(--slate-gray);
}

.border-slate-gray {
	border-color: var(--slate-gray);
}

.shadow-slate-gray {
	box-shadow: 0 4px 6px -1px var(--slate-gray),
		0 2px 4px -2px var(--slate-gray);
}

.hover\:bg-slate-gray:hover {
	background-color: var(--slate-gray);
}

.hover\:text-slate-gray:hover {
	color: var(--slate-gray);
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
/* App.css */

/* Style for the checkbox */
input[type="checkbox"] {
	/* Remove default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Define custom size and border */
	width: 16px;
	height: 16px;
	border: 2px solid #323232;
	border-radius: 3px;
	background-color: white;
	cursor: pointer;
}

/* Style for the checked state */
input[type="checkbox"]:checked {
	background-color: #323232; /* Set background to #323232 when checked */
	position: relative;
}

/* Add checkmark for checked state */
input[type="checkbox"]:checked::after {
	content: "";
	position: absolute;
	top: 1px;
	left: 4px;
	width: 4px;
	height: 8px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* Optional: Hover effect */
input[type="checkbox"]:hover {
	border-color: #4a4a4a;
}

/* Optional: Focus effect */
input[type="checkbox"]:focus {
	outline: none;
	box-shadow: 0 0 0 2px rgba(50, 50, 50, 0.3);
}
